/* START main section */
.main_section {
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1168%26quot%3b)' fill='none'%3e%3cpath d='M733.26-60.63C627.95-39.03 684.2 218.6 419.03 232.91 153.87 247.22-44.86 426.65-209.42 428.91' stroke='rgba(54%2c 127%2c 197%2c 0.12)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1222.03-83.16C1105.36-80.09 1006.41 88.13 787.84 88.3 569.26 88.47 570.74 18.3 353.64 18.3 136.55 18.3 29.4 88.08-80.55 88.3' stroke='rgba(54%2c 127%2c 197%2c 0.12)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1318.97-108.07C1123.26-96.45 975.05 264.14 628.76 264.24 282.47 264.34 122.68 10.79-61.45 6.64' stroke='rgba(54%2c 127%2c 197%2c 0.12)' stroke-width='2'%3e%3c/path%3e%3cpath d='M510.09-5.58C365.79 48.56 338.36 477.31 134.98 483.65-68.4 489.99-136.88 314.19-240.13 310.05' stroke='rgba(54%2c 127%2c 197%2c 0.12)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1080.39-62C931.26 4.66 996.31 474.53 710.44 476.58 424.57 478.63 166.83 217.26-29.46 213.38' stroke='rgba(54%2c 127%2c 197%2c 0.12)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1168'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
}
.main_section .search_cards .card h4,
.main_section .search_cards .card h4 i {
  transition: all 0.3s;
}
.main_section .search_cards .card:hover h4 {
  color: #3eabe2 !important;
}

.main_section .search_cards .card:hover h4 i {
  /* margin-right: 15px !important; */
  opacity: 1 !important;
}
/* END main section */

.unit_section {
    background-color: #f2f2f2;
}